{% extends 'bursary/base.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container col-md-6 offset-md-3 mt-5">
  <h2 class="mb-4 text-center">🔐 Set Your New Password</h2>

  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}

      <button class="btn btn-success mt-3 w-100">Update Password</button>
    </form>
  {% else %}
    <p class="text-danger text-center">This password reset link is invalid or has expired.</p>
  {% endif %}
</div>
{% endblock %}
